.p-40 {
  padding: 40px;
}

.g-24 {
  gap: 24px;
}

.flex-1 {
  flex: 1;
}

.label-text {
  font-size: 14px;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;
}
